
/*** Flamingo Data Tables ***/

/*

From javascript callbacks:

rowCallback = JS('function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 //$("table").css("width", "1850px");
                 ////$("th").css("background-color", "#F5A9BC");
                 $("th").css("text-align", "center");
                 $("td", nRow).css("font-size", "12px");
                 $("td", nRow).css("text-align", "center");
                 }')
                 
And used by e.g.
  - CULtable
  - USGtable
  - ULtable
  - Model List Table
  - Model Resource Table
*/

.flamingo-table {
	width: 100%;
}

.flamingo-table-narrow {
	max-width: 1400px;
}

.flamingo-table th {
	text-align: center;
}

.flamingo-table td {
	font-size: 12px;
	text-align: center
}

table.dataTable tr.selected td, table.dataTable td.selected {
  background-color: #ebcccc !important;
}